name: Generate snake animation

on:
  schedule: # execute every 12 hours
    - cron: "20 */12 * * *"

  workflow_dispatch:

  push:
    branches:
    - master

jobs:
  generate:
    runs-on: ubuntu-latest

    name: Generate SVG file
    steps:
        - uses: actions/checkout@v2
        - uses: Platane/snk/svg-only@v2
          with:
           github_user_name: ${{ github.repository_owner }}
           outputs: |
              generated/snake-animation.svg
              generated/snake-animation-dark.svg?palette=github-dark
          env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           USERNAME: ${{ github.repository_owner }}
          

        - name: Commit & Push
          run: |
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add -A .
            git commit -m "Generated snake animation" || exit 0
            git push
